.product-pakaged {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  row-gap: 12px;

  @include md {
    row-gap: 16px;
  }

  &__image {
    display: flex;
    align-items: center;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  .title {
    font-size: clamp(16px, 7vw, 20px);
    font-weight: 500;
    line-height: 1.2;
    color: $gray-2;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-align: center;

    &:hover {
      color: $orange;
    }

    @include xl {
      font-size: clamp(1.375rem, -1.125rem + 3.3333vw, 1.875rem);
    }
  }
}