<div class="questions-card card-shadow">
  <div class="content">
    <p class="content__question">
      Здравствуйте! Подскажите, пожалуйста, из каких компонентов изготавливается ваше мягкое мороженое в рожке?
    </p>

    <span>Владимир, РФ.</span>

    <p class="content__answer is-hidden">
      Добрый день. Будем рады видеть Вас в числе своих покупателей. Адрес: Фирменный павильон "Кобринские сыры" г. Брест, ул. Гродненская, д.32/1 (район "Авторынка")
    </p>
  </div>

  <button type="button" class="btn-reset btn-arrow" id="btnOpenAnswer">
    @@include('../../assets/arrow.svg')
  </button>
</div>