.for-client {
  &__content {
    margin-bottom: 54px;

    .title {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      color: $black;
      margin-bottom: 28px;
    }

    .text {
      margin-bottom: 54px;
    }
  }

  .image-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 0 8px;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
    }

    @include xl {
      gap: 18px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
