.container-xl {
  max-width: 1570px;
  padding: 0;
}
.gran-pri-page {
  .gran-pri {
    &__title {
      color: black;
      font-size: 36px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 500;

    }
    &__date {
      color:  $orange;
      font-size: 22px;
      font-style: italic;
      margin-bottom: 57px;
    }
    &__text {
      font-size: 24px;
      color: #4F4F4F;
      max-width: 1570px;
    }
    &__text-before {
      margin-bottom: 45px;
    }
    &__text-after {
      margin-top: 40px;
      margin-bottom: 55px;
    }
    &__img-market {
      max-width: 1570px;
      width: 1570px;
    }
    &__map {
      margin-bottom: 62px;
    }
  }
  .fluid-wrapper {
    .container-xl {
      max-width: 1570px;
      padding: 0;
    }
  }

}
