.index-page {
  .about-plant {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 26px;
    padding-bottom: 48px;

    @include md {
      padding-top: 39px;
      padding-bottom: 42px;
    }
    @include xl {
      display: flex;
      flex-direction: row;
      padding-top: 72px;
      padding-bottom: 101px;
    }

    &__content {
      @include xl {
        max-width: 335px;
      }
      .titl {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 22px;

        @include md {
          font-size: 36px;
          line-height: 44px;
          text-align: left;
          margin-bottom: 8px;
        }
      }
      .subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $gray-2;
        margin-bottom: 24px;
      }
      .text {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $gray-2;
        margin-bottom: 40px;

        @include md {
          margin-bottom: 30px;
        }
      }
    }

    &__scheam {
      display: flex;
      width: 100%;
      margin-bottom: 50px;
      height: 150px;

      .scfs-wrap {
        @include flex-all-center;
        height: 100%;
        width: 100%;
        padding-top: 13px;
        max-width: 120px;
      }

      .scheam__img {
        @include flex-all-center;
        width: 100%;
        height: 120px;
        border-radius: 50%;
        border: 3px solid $gray-2;
        position: relative;
        z-index: 1;
        background-color: $white;

        .icon-manufacture {
          display: block;
        }
        .icon-politics {
          display: none;
        }
        .icon-roket {
          display: none;
        }
        .icon-book {
          display: none;
        }
      }

      .scheam__lines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        position: relative;
        right: 5%;

        .line {
          position: relative;
          text-align: end;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $gray-2;
          }
        }

        .line.line_top,
        .line.line_bottom {
          &::before {
            content: "";
            position: absolute;
            height: 2px;
            background-color: #4f4f4f;
            width: 30px;
            left: -25px;
          }
        }

        .line.line_top {
          &::before {
            transform: rotate(-45deg);
            bottom: -10px;
          }
        }
        .line.line_bottom {
          &::before {
            transform: rotate(45deg);
            bottom: 10px;
          }
        }
      }
    }
  }

  .production {
    margin: 43px 0 47px;

    @include md {
      margin: 33px 0;
    }

    @include lg {
      margin: 40px 0 50px;
    }

    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 36px;

      @include md {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 18px;
      }

      @include lg {
        font-size: 36px;
        line-height: 44px;
      }
    }

    &__subtitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 26px;

      @include md {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 40px;
      }
    }

    &__gred {
      display: grid;
      gap: 0 34px;

      .product-item {
        align-self: center;
        justify-self: center;
      }

      @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 48px;
      }

      @include xl {
        gap: 45px 48px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__news {
    padding: 35px 0 47px;
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 10px;

    @include md {
      padding: 0 34px;
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 45px;
    }

    &--wrapper {
      display: grid;
      gap: 0 8px;
      margin-bottom: 34px;

      .product-item {
        align-self: center;
        justify-self: center;
      }

      @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px 14px;
        margin-bottom: 37px;
      }

      @include xl {
        gap: 21px 0;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 70px;

        .news-card-link {
          @include mr(21px);
        }
      }
    }
  }

  .bg-img-exclusive {
    @include image-set("../../assets/img/a3");
    @include bg-cover;

    @include md {
      @include image-set("../../assets/img/a2");
    }

    @include lg {
      @include image-set("../../assets/img/a1");
    }
  }

  &__always-best {
    padding-top: 34px;
    padding-bottom: 46px;

    @include md {
      padding-top: 54px;
      padding-bottom: 82px;
    }

    @include lg {
      padding-top: 54px;
      padding-bottom: 112px;
    }

    .always-best-title {
      margin-bottom: 27px;

      @include md {
        margin-bottom: 14px;
      }
    }
    .always-best-subtitle {
      margin-bottom: 35px;

      @include md {
        margin-bottom: 60px;
      }

      @include lg {
        margin-bottom: 68px;
      }
    }

    &--wrapper {
      display: grid;
      gap: 0 8px;

      @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px 14px;
      }

      @include xl {
        gap: 21px 0;
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .cardochka {
      width: 266px;
      height: 210px;
      padding: 22px 0 0 41px;
      border: 1px solid #ffffff;
      justify-self: center;
      align-self: center;

      .icone {
        margin-bottom: 1rem;
      }

      .text {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .managment-stuff {
    padding-top: 33px;
    padding-bottom: 61px;

    @include md {
      padding-top: 42px;
      padding-bottom: 115px;
    }

    @include lg {
      padding-top: 49px;
      padding-bottom: 120px;
    }

    h2 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 34px;

      @include md {
        margin-bottom: 50px;
      }
    }
  }

  .charity {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 22px;
    padding-bottom: 22px;

    &__text {
      color: $gray-1;
    }

    &__img-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      img {
        @include mb(44px);
        max-width: 305px;
        max-height: 230px;
      }
    }

    @include md {
      padding-top: 25px;
      padding-bottom: 38px;

      &__img-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 38px;

        img {
          @include mr(24px);
          @include mb(0);
        }
      }
    }

    @include lg {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding-top: 40px;
      padding-bottom: 45px;

      &__img-wrapper {
        justify-content: space-around;
        margin-bottom: 0;

        img {
          margin: 0;
        }
      }

      &__text {
        max-width: 420px;
      }
    }
  }
}
