
.gran-pri-page {
  .gran-pri {
    &__title {
      color: $black;
      font-size: 36px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 500;
    }
    &__date {
      color:  $orange;
      font-size: 22px;
      font-style: italic;
      margin-bottom: 57px;
    }
    &__text {
      font-size: 24px;
      color: $gray-2;
      max-width: 1570px;
    }
    &__text-before {
      margin-bottom: 45px;
    }
    &__text-after {
      margin-top: 40px;
      margin-bottom: 55px;
    }
    &__map {
      margin-bottom: 62px;
    }
  }
}
