<div id="mainSlider">
  <div>
    <div class="main-slide-item">
      <p class="main-slide-item__text main-slide-item__text-1">НАШ САМЫЙ ТИТУЛОВАННЫЙ СЫР</p>
      <h1>МААСДАМ</h1>
      <p class="main-slide-item__text main-slide-item__text-2">ДЕСЯТКИ НАГРАД НА ВЫСТАВКАХ</p>
    </div>
  </div>

  <div>
    <div class="main-slide-item">
      <p class="main-slide-item__text main-slide-item__text-1">НАШ САМЫЙ ТИТУЛОВАННЫЙ СЫР</p>
      <h1>МААСДАМ</h1>
      <p class="main-slide-item__text main-slide-item__text-2">ДЕСЯТКИ НАГРАД НА ВЫСТАВКАХ</p>
    </div>
  </div>

  <div>
    <div class="main-slide-item">
      <p class="main-slide-item__text main-slide-item__text-1">НАШ САМЫЙ ТИТУЛОВАННЫЙ СЫР</p>
      <h1>МААСДАМ</h1>
      <p class="main-slide-item__text main-slide-item__text-2">ДЕСЯТКИ НАГРАД НА ВЫСТАВКАХ</p>
    </div>
  </div>
</div>