<div id="sliderProduct">
  <div>
    <div class="slide">
      <div class="slide__img">
        <img class="lazy" src="./assets/img/syr-1.jpg" alt="">
      </div>
      <h4><a href="#">Сыр “Мондор Grano” 50%</a></h4>
      <p>Твердые сыры</p>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img class="lazy" src="./assets/img/syr-2.jpg" alt="">
      </div>
      <h4><a href="#">Сыр “Гроссмейстер” 50%</a></h4>
      <p>Полутвердые сыры</p>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img class="lazy" src="./assets/img/syr-1.jpg" alt="">
      </div>
      <h4><a href="#">Сыр “Мондор Grano” 50%</a></h4>
      <p>Твердые сыры</p>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img class="lazy" src="./assets/img/syr-2.jpg" alt="">
      </div>
      <h4><a href="#">Сыр “Гроссмейстер” 50%</a></h4>
      <p>Полутвердые сыры</p>
    </div>
  </div>
</div>