<div class="management-card card">
  <div class="management-card__img">
    <img src="../../assets/img/product-1.jpg" alt="">
  </div>

  <p class="management-card__name centered">
    Гран При конкурса "Лучшая продукция года - 2021"!
  </p>

  <hr>
  
  <p class="management-card__job-title centered">
    Директор
  </p>

  <hr>

  <p class="management-card__about centered">
    Профессионал, прошедший все ступени производства, от сыродела до руководителя. Человек своего дела с уверенным взглядом в будущее.
  </p>

  <hr>
</div>