<div class="news-card card_shadow">
  <div class="news-card__img">
    <img src="../assets/img/product-1.jpg" alt="">
  </div>
  
  <div class="news-card__content">
    <h3 class="title">
      Гран При конкурса "Лучшая продукция года - 2021"!
    </h3>

    <p class="text">
      Кобринский маслодельно-сыродельнйы завод стал обладателем наивысшей награды – Гран-При за стабильное качество продукции!
    </p>

    <div class="date">
      Июнь 28, 2019
    </div>
  </div>
</div>